p{
 color:yellow;
	
}
h1{
	color:darkblue;
	text-align:center;
}
ol{
	color:darkblue;
		
}
body{
	  background-color:#25455e;
	
}
ul{
	 color:darkblue
}

h2{
color:blue;
	
	
	
}
footer{
	text-align:center;
	color:red;
}