h1{
	 background-color:red;
}
h2{
	background-color:purple;
	color:red;
	
}
input{
	color:red;
	background-color:skyblue;
	
	
}
h3{
	color:blue;
	background-color:pink;
}
h4{
	background-color:blue;
	
	
}
body{
	background-color:darkblue;
	
}